@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400 500 600 700 800;
  font-display: swap;
  src: url('/fonts/HelveticaNeueRoman.otf') format('otf');
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400 500 600 700 800;
  font-display: swap;
  src: url('/fonts/HelveticaNeueRoman.otf') format('otf');
}

@theme {
  --font-display: 'Fira Code', 'sans-serif';
  --font-helvetica: Helvetica, 'sans-serif';
}

@theme inline {
  --color-grey: var(--color-neutral-500);
  --color-foreground: var(--color-neutral-950);
  --color-background: var(--color-white);
  --color-danger: var(--color-red-500);
  --color-link: var(--color-blue-500);
}
